<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <div class="outline-print pt-4">
        <div id="print">
            <div class="row">
                <div class="col-7 fw-bold">
                    <img src="{{ field_company_image_1 }}" alt="" class="me-3 image-size-print">
                    <!--<img src="{{ field_company_image }}" alt="" class="me-3 image-size-print">-->
                    <p>{{ field_company }}</p>
                    <p>Địa chỉ:{{ field_wsh_address_address_line1 }}</p>
                    <p>Tel: {{ field_company_phone }}</p>
                </div>
                <div class="col-5">
                    <p class="text-center fw-bold fs-2">{{ type }}</p>
                    <div class="row justify-content-between">
                        <div class="col fw-bold">
                            <p>Số Phiếu giao:</p>
                            <p>Số đơn hàng:</p>
                            <p>Hình thưc giao:</p>
                        </div>
                        <div class="col text-end">
                            <p>{{ field_doc_about }}</p>
                            <p>..................</p>
                            <p>{{ field_dn_delivery_form_1 }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0 mb-3">
            <div class="row mb-3">
                <div class="col-6 border-end">
                    <div class="row justify-content-between">
                        <div class="col fw-bold">
                            <p>Bên giao:</p>
                            <p>Số điện thoại:</p>
                            <p>Kho giao:</p>
                            <p>Địa chỉ</p>
                        </div>
                        <div class="col text-end">
                            <p>{{ uid }}</p>
                            <p>{{ field_user_telephone_2 }}</p>
                            <p>{{ field_wsh_export }}</p>
                            <p>{{ field_wsh_address_address_line1 }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-between">
                        <div class="col fw-bold">
                            <p>Bên nhận:</p>
                            <p>Người nhận:</p>
                            <p>Điện thoại:</p>
                            <p>Địa chỉ</p>
                        </div>
                        <div class="col text-end">
                            {% if field_dn_receive is not empty %}
                            <p>{{ field_dn_receive }}</p>
                            {% else %}
                            <p>....................</p>
                            {% endif %}
                            <!-- <p>{{ field_dn_receiver_user }}</p> -->
                            {% if field_dn_receive_user is not empty %}
                            <p>{{ field_dn_receive_user }}</p>
                            {% else %}
                            <p>....................</p>
                            {% endif %}
                            <!-- <p>{{ field_dn_receiver_user }}</p> -->
                            {% if field_dn_receive_phone is not empty %}
                            <p>{{ field_dn_receive_phone }}</p>
                            {% else %}
                            <p>....................</p>
                            {% endif %}

                            {% if field_dn_receive_address is not empty %}
                            <p>{{ field_dn_receive_address }}</p>
                            {% else %}
                            <p>....................</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {{ delivery_note(nid) }}
            </div>
            <div>
                <div class="fw-bold"><i>Các bên xác nhận: đã giao nhận đủ số hàng hóa đã nêu trên</i></div>
                <div>* Biên bản này được lập thành 2 bản, mỗi bên giữ 1 bản có giá trị pháp lý như nhau</div>
            </div>
            <div class="row mt-4">
                <div class="col-4 fw-bold text-align-center">
                    <i></i> <br>
                    <div>NGƯỜI GIAO HÀNG</div>
                </div>
                <div class="col-4 fw-bold text-align-center">
                    <i></i> <br>
                    <div>NGƯỜI NHẬN HÀNG</div>
                </div>
                <div class="col-4 text-align-center">
                    <i>{{ field_company_address_administrative_area }}, {{ field_date_created}}</i><br>
                    <span class="fw-bold">NGƯỜI LẬP ĐƠN<span>
                        </span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="">
            <a href="/print-delivery-note/{{ uuid }}?destination={{ path('view.delivery_note_list.page_delivery_note_list') }}"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                data-bs-title="In"><i class="bi bi-printer fs-3 me-2"></i></a>
        </div>
        <div class="d-flex">
            <div class="kanban-view pe-1">
                <a href="/node/{{ nid }}?destination={{ path('view.delivery_note_list.page_delivery_note_list') }}"
                    type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Xem">
                    <i class="bi bi-eye fs-3 me-2"></i>
                </a>
            </div>
        </div>
        <div class="kanban-edit ">
            <a href="/node/{{ uuid }}/edit?destination={{ path('view.delivery_note_list.page_delivery_note_list') }}"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                data-bs-title="Sửa"><i class="bi bi-pencil-square fs-3 me-2"></i></a>
        </div>
        <div class="kanban-delete ">
            <a href="/node/{{ uuid }}/delete?destination={{ path('view.delivery_note_list.page_delivery_note_list') }}"
                class="use-ajax" data-dialog-type="modal" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip" data-bs-title="Xóa"><i class="bi bi-trash fs-3 me-2"></i></a>
        </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>
